<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="federatedAuthentication" type="Affecto.AuthenticationServer.Plugins.Infrastructure.Configuration.FederatedAuthenticationConfiguration, Affecto.AuthenticationServer.Plugins.Infrastructure" />
  </configSections>

  <federatedAuthentication userAccountNameClaim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                           userDisplayNameClaim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" groupsClaim="http://affecto.com/claims/group" />
</configuration>