<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="authenticationServer" type="Affecto.AuthenticationServer.Configuration.AuthenticationServerConfiguration, Affecto.AuthenticationServer" />
  </configSections>

  <authenticationServer allowedOrigins="http://server.com, https://secureserver.com" serviceUserName="VIRTA autentikointipalvelu" autoCreateUser="true"
                        signingCertificateStore="My" signingCertificateThumbprint="thumb" secondarySigningCertificateThumbprint="secondary thumb">
    <scopes>
      <scope name="FirstScope" displayName="First Scope" includeAllClaimsForUser="true" />
    </scopes>
    <clients>
      <client id="SomeClient" name="Some Client" secret="9809DBC8-E72B-47EC-BE4F-42122C2965E1" flow="FooFlow" accessTokenLifetime="23:59:59">
        <allowedScopes>
          <allowedScope name="FirstScope" />
        </allowedScopes>
      </client>
    </clients>
  </authenticationServer>

</configuration>