<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="identityManagement" type="Affecto.AuthenticationServer.IdentityManagement.Configuration.IdentityManagementConfiguration, Affecto.AuthenticationServer.IdentityManagement" />
  </configSections>

  <identityManagement autoCreateUser="true">
    <newUserCustomProperties>
      <customProperty name="1234567-0" value="" />
    </newUserCustomProperties>
  </identityManagement>
</configuration>