<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="authenticationServer" type="Affecto.AuthenticationServer.Configuration.AuthenticationServerConfiguration, Affecto.AuthenticationServer" />
    <section name="kentor.authServices.customProviders" type="Affecto.AuthenticationServer.Configuration.KentorAuthServicesCustomProvidersConfiguration, Affecto.AuthenticationServer"/>
  </configSections>

  <authenticationServer requireHttps="false" allowedOrigins="http://server.com, https://secureserver.com" serviceUserName="VIRTA autentikointipalvelu"
                        signingCertificateStore="My" signingCertificateThumbprint="thumb" secondarySigningCertificateThumbprint="secondary thumb"
                        publicOrigin="http://someurl.com:12837/dir/" issuer="http://someurl.com:12837/core/">
    <scopes>
      <scope name="FirstScope" displayName="First Scope" includeAllClaimsForUser="true" />
    </scopes>
    <clients>
      <client id="SomeClient" name="Some Client" secret="9809DBC8-E72B-47EC-BE4F-42122C2965E1" flow="ResourceOwner" accessTokenLifetime="23:59:59" redirectUri="http://localhost:49612/">
        <allowedScopes>
          <allowedScope name="FirstScope" />
        </allowedScopes>
      </client>
    </clients>
  </authenticationServer>

  <kentor.authServices.customProviders>
    <identityProviders>
      <identityProvider modulePath="/SAML/local" authenticationType="saml-local" caption="SAML ADFS Local" entityId="http://fs.dev.local/adfs/services/trust" metadataLocation="https://fs.dev.local/FederationMetadata/2007-06/FederationMetadata.xml" >
        <signingCertificate storeName="My" storeLocation="LocalMachine" findValue="1111a2aacf4c55a6666fd7a888cf9999" x509FindType="FindBySerialNumber" />
      </identityProvider>
      <identityProvider modulePath="/SAML/azure" authenticationType="saml-azure" caption="SAML ADFS AZure" entityId="http://some-adfs.westeurope.cloudapp.azure.com/adfs/services/trust" metadataLocation="https://some-adfs.westeurope.cloudapp.azure.com/FederationMetadata/2007-06/FederationMetadata.xml" >
        <signingCertificate storeName="My" storeLocation="LocalMachine" findValue="1111a2aacf4c55a6666fd7a888cf9999" x509FindType="FindBySerialNumber" />
      </identityProvider>
    </identityProviders>
  </kentor.authServices.customProviders>
  
</configuration>