<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="federatedAuthentication" type="Affecto.AuthenticationServer.IdentityManagement.Configuration.FederatedAuthenticationConfiguration, Affecto.AuthenticationServer.IdentityManagement" />
  </configSections>

  <federatedAuthentication userDisplayNameClaim="display"/>
</configuration>