<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="identityManagement" type="Affecto.AuthenticationServer.IdentityManagement.Configuration.IdentityManagementConfiguration, Affecto.AuthenticationServer.IdentityManagement" />
  </configSections>

  <identityManagement autoCreateUser="true">
    <newUserCustomProperties>
      <customProperty value="7b45e3bc-eda9-4f6b-97bb-e9354db660b5" />
      <customProperty name="BusinessId" value="1234567-0" />
    </newUserCustomProperties>
  </identityManagement>
</configuration>