<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="authenticationServer" type="Affecto.AuthenticationServer.Configuration.AuthenticationServerConfiguration, Affecto.AuthenticationServer" />
    <section name="federatedAuthentication" type="Affecto.AuthenticationServer.Infrastructure.Configuration.FederatedAuthenticationConfiguration, Affecto.AuthenticationServer.Infrastructure" />
    <section name="identityManagement" type="Affecto.AuthenticationServer.IdentityManagement.Configuration.IdentityManagementConfiguration, Affecto.AuthenticationServer.IdentityManagement" />
  </configSections>

  <authenticationServer requireHttps="false" allowedOrigins="http://server.com, https://secureserver.com" serviceUserName="VIRTA autentikointipalvelu"
                        signingCertificateStore="My" signingCertificateThumbprint="thumb" secondarySigningCertificateThumbprint="secondary thumb"
                        publicOrigin="http://someurl.com:12837/dir/">
    <scopes>
      <scope name="FirstScope" displayName="First Scope" includeAllClaimsForUser="true" />
    </scopes>
    <clients>
      <client id="SomeClient" name="Some Client" secret="9809DBC8-E72B-47EC-BE4F-42122C2965E1" flow="ResourceOwner" accessTokenLifetime="23:59:59" redirectUri="http://localhost:49612/">
        <allowedScopes>
          <allowedScope name="FirstScope" />
        </allowedScopes>
      </client>
    </clients>
  </authenticationServer>

  <federatedAuthentication userAccountNameClaim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                           userDisplayNameClaim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" groupsClaim="http://affecto.com/claims/group" />

  <identityManagement autoCreateUser="true">
    <newUserCustomProperties>
      <customProperty name="OrganizationId" value="7b45e3bc-eda9-4f6b-97bb-e9354db660b5" />
      <customProperty name="BusinessId" value="1234567-0" />
    </newUserCustomProperties>
  </identityManagement>
</configuration>