<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Affecto.Authentication.Claims" version="2.2.0" targetFramework="net46" />
  <package id="Affecto.IdentityManagement.Interfaces" version="9.1.0" targetFramework="net46" />
  <package id="IdentityServer3" version="2.5.0" targetFramework="net46" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
</packages>