<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  #{AuthenticationServer.ConfigSectionDefinitions}

  #{AuthenticationServer.AuthenticationServerConfigSection}

  #{AuthenticationServer.AutofacConfigSection}

  #{AuthenticationServer.PluginConfigSections}

  <log4net>
    <appender name="TextFileLogger" xdt:Locator="Match(name)">
      <file value="#{AuthenticationServer.ApplicationLogFilePath}" xdt:Transform="SetAttributes"/>
    </appender>
  </log4net>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="#{AuthenticationServer.PluginPaths}" xdt:Transform="Replace" />
    </assemblyBinding>
  </runtime>
  
</configuration>