<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="authenticationServer" type="Affecto.AuthenticationServer.Configuration.AuthenticationServerConfiguration, Affecto.AuthenticationServer" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="federatedAuthentication" type="Affecto.AuthenticationServer.Infrastructure.Configuration.FederatedAuthenticationConfiguration, Affecto.AuthenticationServer.Infrastructure" />
    <section name="identityManagement" type="Affecto.AuthenticationServer.IdentityManagement.Configuration.IdentityManagementConfiguration, Affecto.AuthenticationServer.IdentityManagement" />
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>

  <authenticationServer requireHttps="true" allowedOrigins="*" serviceUserName="AuthenticationServer" signingCertificateStore="Disallowed" signingCertificateThumbprint="thumb">
    <scopes>
      <scope name="SomeScope" displayName="SomeScope" includeAllClaimsForUser="true" enabled="true" />
    </scopes>
    <clients>
      <client id="SomeClient" name="Some Client" secret="secret" flow="ResourceOwner" accessTokenLifetime="23:59:59" enabled="true">
        <allowedScopes>
          <allowedScope name="SomeScope" />
        </allowedScopes>
      </client>
    </clients>
  </authenticationServer>

  <federatedAuthentication userAccountNameClaim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" 
                           userDisplayNameClaim="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" 
                           groupsClaim="http://affecto.com/claims/group" />

  <identityManagement autoCreateUser="false" />
  
  <log4net debug="false">
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <threshold value="ERROR" />
      <param name="LogName" value="Application" />
      <param name="ApplicationName" value="Authentication Server" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-8level - %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="TextFileLogger" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Temp\Logs\AuthenticationServer.log" />
      <immediateFlush value="true" />
      <preserveLogFileNameExtension value="true" />
      <threshold value="DEBUG" />
      <appendToFile value="true" />
      <maximumFileSize value="2000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-8level - %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="TextFileLogger" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin\AutofacModules\IdentityManagement;bin\AutofacModules\CookieAuthentication" />
      
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.14.0" newVersion="1.2.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>