<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  #{AuthenticationServer.AuthenticationServerConfigSection}

  <postgreSql>
    <schemas>
      <schema key="IdentityManagementDbContext" value="#{Common.IdentityManagementDbSchemaName}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </schemas>
  </postgreSql>

  <connectionStrings>
    <add name="IdentityManagementDbContext" connectionString="#{Common.IdentityManagementDbConnectionString}" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <log4net>
    <appender name="TextFileLogger" xdt:Locator="Match(name)">
      <file value="#{AuthenticationServer.ApplicationLogFilePath}" xdt:Transform="SetAttributes"/>
    </appender>
  </log4net>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>